.mainScreen {
  list-style: none;
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
  font-family: Proxima Nova;
  font-size: 24pt;
}
Nav {
  display: flex;
  box-shadow: black;
  align-items: center;
  justify-content: space-around;
  min-height: 7vh;
  color: #000;
}
.welcome {
  height: 10vh;
  width: 100vw;
  margin-top: 100px;
  margin-bottom: 100px;
  /*align-items: center;
  justify-content: space-around;*/
  text-align: center;
}
.PictureCard {
  height: 400px;
  width: 250px;
  background-color: #eaeaea;
  border-radius: 16px;
  margin: 20px;
  font-family: Open Sans;
  font-size: 12pt;
  color: black;
  align-content: center;
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
}

.logo {
  position: absolute;
  width: 10%;
  left: 10px;
}

.search {
  display: flex;
  align-items: flex-start;
  background-color: #efefef;
  border-radius: 20px;
  width: 60%;
  margin-left: 110px;
  height: 40px;
  border-color: none;
}

.searchIcon {
  width: 20px;
  padding: 10px;
}

.profileContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  /* width: 1024px;*/
  align-content: space-between;
}
